/*******************************/
/********* General CSS *********/
/*******************************/
body {
    color: #797979;
    background: #ffffff;
    font-family: 'Lato', sans-serif;
}

h1,
h2, 
h3, 
h4,
h5, 
h6 {
    color: #3c8dbc;
    font-family: 'Oswald', sans-serif;
}

a {
    color: #454545;
    transition: .3s;
}

a:hover,
a:active,
a:focus {
    color: #3c8dbc;
    outline: none;
    text-decoration: none;
}

.btn:focus,
.form-control:focus {
    box-shadow: none;
}

.container-fluid {
    max-width: 1366px;
}

.back-to-top {
    position: fixed;
    display: none;
    background: #003861;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 22px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 9;
}

.back-to-top i {
    color: #3c8dbc;
    padding-top: 10px;
}

.back-to-top:hover {
    background: #002b49;
}

.back-to-top:hover i {
    color: #3c8dbc;
}

@media (min-width: 992px) {
    .mt-125 {
        margin-top: 125px;
    }
}


/**********************************/
/********** Top Bar CSS ***********/
/**********************************/
.top-bar {
    position: relative;
    height: 35px;
    background-image: linear-gradient(to right, #003861, #3c8dbc);
}

.top-bar .top-bar-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.top-bar .top-bar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-bar .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 35px;
    padding: 0 10px;
    text-align: center;
    border-left: 1px solid rgba(255, 255, 255, .15);
}

.top-bar .text:last-child {
    border-right: 1px solid rgba(255, 255, 255, .15);
}

.top-bar .text i {
    font-size: 14px;
    color: #ffffff;
    margin-right: 5px;
}

.top-bar .text h2 {
    color: #eeeeee;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0;
}

.top-bar .text p {
    color: #eeeeee;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 0 5px;
}

.top-bar .social {
    display: flex;
    height: 35px;
    font-size: 0;
    justify-content: flex-end;
}

.top-bar .social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 100%;
    font-size: 16px;
    color: #ffffff;
    border-right: 1px solid rgba(255, 255, 255, .15);
}

.top-bar .social a:first-child {
    border-left: 1px solid rgba(255, 255, 255, .15);
}

.top-bar .social a:hover {
    color: #3c8dbc;
    background: #ffffff;
}

@media (min-width: 992px) {
    .top-bar {
        padding: 0 60px;
    }
}


/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.navbar {
    position: relative;
    transition: .5s;
    z-index: 999;
}

/* .navbar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    transition: .5s;
} */

.navbar .navbar-brand {
    margin: 0;
    color: #ffffff;
    font-size: 45px;
    line-height: 0px;
    font-weight: 200;
    text-transform: uppercase;
}

.navbar .navbar-brand img {
    max-width: 100%;
    max-height: 40px;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    padding: 10px 10px 8px 10px;
    color: #ffffff;
    transition: 0.5;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: #003861;
    transition: 0.5;
}

.navbar .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
}

@media (min-width: 992px) {
    .navbar {
        position: absolute;
        width: 100%;
        /* top: 35px; */
        padding: 8px 60px;
        background: rgba(9, 42, 73, .2)!important;
        z-index: 9;
    }
    
    /* .navbar.nav-sticky {
        padding: 10px 60px;
        background: #3c8dbc !important;
    } */
    
    .navbar {
        background: #3c8dbc !important;
    }
    
    .navbar a.nav-link {
        padding: 8px 15px;
        font-size: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}

@media (max-width: 991.98px) {   
    .navbar {
        padding: 15px;
        background: #3c8dbc !important;
    }
    
    .navbar a.nav-link {
        padding: 5px;
    }
    
    .navbar .dropdown-menu {
        box-shadow: none;
    }
}


/*******************************/
/********** Hero CSS ***********/
/*******************************/
.carousel {
    position: relative;
    width: 100%;
    height: calc(100vh - 35px);
    min-height: 400px;
    background: #3c8dbc;
    margin-bottom: 45px;
}

.carousel .container-fluid {
    padding: 0;
}

.carousel .carousel-item {
    position: relative;
    width: 100%;
    height: calc(100vh - 35px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.carousel .carousel-img {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: right;
    overflow: hidden;
}

.carousel .carousel-img::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(9, 42, 73, .7);
    z-index: 1;
}

.carousel .carousel-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel .carousel-text {
    position: absolute;
    max-width: 700px;
    height: calc(100vh - 35px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}

.carousel .carousel-text h1 {
    text-align: center;
    color: #ffffff;
    font-size: 60px;
    font-weight: 200;
    margin-bottom: 20px;
}

.carousel .carousel-text p {
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    margin-bottom: 25px;
}

.carousel .carousel-text .btn {
    padding: 15px 30px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffffff;
    background: none;
    border: 2px solid #ffffff;
    border-radius: 0;
    transition: .3s;
}

.carousel .carousel-text .btn i {
    margin-right: 5px;
}

.carousel .carousel-text .btn:hover {
    color: #003861;
    background: #ffffff;
}

.carousel .carousel-btn .btn:first-child {
    margin-right: 15px;
}

.carousel .owl-nav {
    position: absolute;
    width: 122px;
    right: 2px;
    bottom: 2px;
    display: flex;
    z-index: 9;
}

.carousel .owl-nav .owl-prev,
.carousel .owl-nav .owl-next {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #003861;
    background: #3c8dbc;
    font-size: 22px;
    transition: .3s;
}

.carousel .owl-nav .owl-prev:hover,
.carousel .owl-nav .owl-next:hover {
    color: #ffffff;
    background: #003861;
}

.carousel .owl-nav .owl-prev {
    margin-right: 2px;
}

.carousel .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

#videoModal .modal-dialog {
    position: relative;
    max-width: 800px;
    margin: 60px auto 0 auto;
}

#videoModal .modal-body {
    position: relative;
    padding: 0px;
}

#videoModal .close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: -30px;
    z-index: 999;
    font-size: 30px;
    font-weight: normal;
    color: #ffffff;
    background: #000000;
    opacity: 1;
}

@media (max-width: 991.98px) {
    .carousel,
    .carousel .carousel-item,
    .carousel .carousel-text {
        height: calc(100vh - 105px);
    }
    
    .carousel .carousel-text h1 {
        font-size: 35px;
    }
    
    .carousel .carousel-text p {
        font-size: 16px;
    }
    
    .carousel .carousel-text .btn {
        padding: 12px 30px;
        font-size: 15px;
        letter-spacing: 0;
    }
}

@media (max-width: 767.98px) {
    .carousel,
    .carousel .carousel-item,
    .carousel .carousel-text {
        height: calc(100vh - 70px);
    }
    
    .carousel .carousel-text h1 {
        font-size: 30px;
    }
    
    .carousel .carousel-text .btn {
        padding: 10px 25px;
        font-size: 15px;
        letter-spacing: 0;
    }
}

@media (max-width: 575.98px) {
    .carousel .carousel-text h1 {
        font-size: 25px;
    }
    
    .carousel .carousel-text .btn {
        padding: 8px 20px;
        font-size: 14px;
        letter-spacing: 0;
    }
}


/*******************************/
/******* Section Header ********/
/*******************************/
.section-header {
    position: relative;
    text-align: left;
    margin-bottom: 45px;
}

.section-header p {
    margin-bottom: 5px;
    position: relative;
    font-size: 16px;
}

.section-header h2 {
    margin: 0 0 0 40px;
    position: relative;
    font-size: 50px;
    font-weight: 200;
}


@media (max-width: 991.98px) {
    .section-header h2 {
        font-size: 45px;
    }
}

@media (max-width: 767.98px) {
    .section-header h2 {
        font-size: 40px;
    }
}

@media (max-width: 575.98px) {
    .section-header h2 {
        font-size: 35px;
    }
}


/*******************************/
/********** Fact CSS ***********/
/*******************************/
.fact {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.fact .fact-item {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    padding: 30px 0 25px 0;
    text-align: center;
    background-color: #ffffffbf;
    border: 1px solid transparent;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
    transition: .3s;
    border-radius: 5px;
}

.fact .fact-item:hover {
    border-color: rgba(0, 0, 0, .1);
    box-shadow: none;
    background-color: #fff;
    opacity: 0.9;
}

.fact .fact-item img {
    max-height: 50px;
    margin-bottom: 15px;
}

.fact .fact-item h2 {
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1px;
}


/*******************************/
/********** About CSS **********/
/*******************************/
.about {
    position: relative;
    width: 100%;
    /* padding: 45px 0; */
}

.about .section-header {
    margin-bottom: 30px;
    margin-left: 0;
}

.about .about-img {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: .5s;
}

.about .about-img::after {
    position: absolute;
    content: "";
    top: 60px;
    right: 60px;
    bottom: 60px;
    left: 60px;
    background: transparent;
    border: 30px solid;
    border-image: repeating-linear-gradient( 45deg, rgba(0,0,0,.05), rgba(0,0,0,.05) .5%, rgba(0,0,0,.1) .5%, rgba(0,0,0,.1) 1%) 30;
    z-index: 1;
}

.about .about-img:hover::after {
    border-image: repeating-linear-gradient( 45deg, rgba(0,0,0,.1), rgba(0,0,0,.1) .5%, rgba(0,0,0,.05) .5%, rgba(0,0,0,.05) 1%) 30;
}

.about .about-img-1 {
    position: relative;
    height: 100%;
    height: 100%;
    margin: 0 150px 150px 0;
}

.about .about-img-2 {
    position: absolute;
    height: 100%;
    height: 100%;
    top: 150px;
    left: 150px;
    z-index: 1;
}

.about .about-img-1 img,
.about .about-img-2 img {
    position: relative;
    width: 100%;
}

.about .about-text p {
    font-size: 16px;
}

.about .about-text a.btn {
    position: relative;
    margin-top: 15px;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #3c8dbc;
    border: 2px solid #3c8dbc;
    border-radius: 0;
    background: none;
    transition: .3s;
}

.about .about-text a.btn:hover {
    color: #003861;
    background: #3c8dbc;
}

@media (max-width: 767.98px) {
    .about .about-img {
        margin-bottom: 30px;
        height: auto;
    }
}


/*******************************/
/********* Service CSS *********/
/*******************************/
.service {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.service .service-item {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    padding: 30px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .1);
    transition: .3s;
}

.service .service-item:hover {
    border-color: transparent;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
}

.service .service-item img {
    max-height: 50px;
    margin-bottom: 20px;
}

.service .service-item h3 {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1px;
}

.service .service-item p {
    margin-bottom: 10px;
    font-size: 16px;
}

.service .service-item a {
    position: relative;
    font-size: 16px;
    color: #003861;
    transition: .3s;
}

.service .service-item a::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    bottom: -3px;
    left: 10%;
    background: #003861;
}

.service .service-item:hover a.btn {
    color: #3c8dbc;
    background: #1d2434;
    border-color: #1d2434;
}


/*******************************/
/********* Feature CSS *********/
/*******************************/
.feature {
    position: relative;
    width: 100%;
    /* padding: 45px 0; */
}

.feature .col-md-6 {
    height: 100%;
}

.feature .feature-img {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.feature .feature-img::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 70%;
    top: 30%;
    left: 0;
    border: 30px solid;
    border-image: repeating-linear-gradient( 45deg, rgba(0,0,0,.05), rgba(0,0,0,.05) .5%, rgba(0,0,0,.1) .5%, rgba(0,0,0,.1) 1%) 30;
    z-index: 1;
}

.feature .feature-img:hover::after {
    border-image: repeating-linear-gradient( 45deg, rgba(0,0,0,.1), rgba(0,0,0,.1) .5%, rgba(0,0,0,.05) .5%, rgba(0,0,0,.05) 1%) 30;
}

.feature .feature-img img {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    margin: 0 30px 30px 30px;
    z-index: 2;
}

@media (max-width: 767.98px) {
    .feature .feature-img {
        margin-bottom: 45px;
    }
}

.feature .counters .col-6 {
    padding-top: 25px;
    display: flex;
    flex-direction: row;
}

.feature .counters i {
    padding: 5px 15px 0 0;
    font-size: 28px;
    color: #003861;
}

.feature .counters h2 {
    position: relative;
    display: inline-block;
    color: #003861;
    font-size: 30px;
    font-weight: 300;
}

.feature .counters h2::after {
    position: absolute;
    content: "+";
    top: -15px;
    right: -15px;
}

.feature .counters p {
    color: #3c8dbc;
    font-size: 20px;
    margin: 0;
}


/*******************************/
/*********** Team CSS **********/
/*******************************/
.team {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.team .team-item {
    position: relative;
    margin-bottom: 75px;
}

.team .team-img {
    position: relative;
}

.team .team-img img {
    width: 100%;
}

.team .team-text {
    position: absolute;
    width: calc(100% - 30px);
    height: 96px;
    bottom: -46px;
    left: 15px;
    padding: 25px 15px;
    text-align: center;
    background: rgba(256, 256, 256, .9);
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
    transition: .3s;
    overflow: hidden;
}

.team .team-text h2 {
    color: #003861;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.team .team-text p {
    margin-bottom: 20px;
    color: #3c8dbc;
}

.team .team-social {
    position: relative;
    font-size: 0;
}

.team .team-social a {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 0 3px;
    padding: 5px 0;
    text-align: center;
    font-size: 14px;
    color: #3c8dbc;
    border: 2px solid #3c8dbc;
    transition: .3s;
}

.team .team-social a:hover {
    color: #003861;
    border-color: #003861;
}

.team .team-item:hover .team-text {
    height: 160px;
}


/*******************************/
/******* Testimonial CSS *******/
/*******************************/
.testimonial {
    position: relative;
    width: 100%;
    padding: 12px 0;
}

.testimonial .testimonials-carousel {
    position: relative;
    width: calc(100% + 30px);
    margin: 0 -15px;
}

.testimonial .testimonial-item {
    position: relative;
    width: 100%;
    padding: 0 15px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.testimonial .testimonial-item img {
    position: relative;
    width: 80px;
    border-radius: 80px;
    margin-bottom: 15px;
}

.testimonial .testimonial-item p {
    margin-bottom: 15px;
}

.testimonial .testimonial-item h2 {
    position: relative;
    color: #3c8dbc;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    padding-bottom: 3px;
}

.testimonial .testimonial-item h2::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #003861;
    transition: .3s;
}

.testimonial .testimonial-item:hover h2::before {
    width: 60px;
}

.testimonial .testimonial-item h3 {
    color: #999999;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 0;
}

.testimonial .owl-nav {
    position: relative;
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.testimonial .owl-nav .owl-prev,
.testimonial .owl-nav .owl-next {
    position: relative;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #003861;
    font-size: 25px;
    transition: .3s;
}

.testimonial .owl-nav .owl-prev {
    padding-right: 80px;
}

.testimonial .owl-nav .owl-next {
    padding-left: 80px;
}

.testimonial .owl-nav .owl-prev:hover,
.testimonial .owl-nav .owl-next:hover {
    color: #3c8dbc;
}

.testimonial .owl-nav .owl-prev::after,
.testimonial .owl-nav .owl-next::after {
    position: absolute;
    content: "";
    width: 80px;
    height: 3px;
    top: 11px;
    background: #003861;
    transition: .3s;
}

.testimonial .owl-nav .owl-prev::after {
    left: 9px;
}

.testimonial .owl-nav .owl-next::after {
    right: 9px;
}

.testimonial .owl-nav .owl-prev:hover::after {
    background: #3c8dbc;
}

.testimonial .owl-nav .owl-next:hover::after {
    background: #3c8dbc;
}


/*******************************/
/*********** Blog CSS **********/
/*******************************/
.blog {
    position: relative;
    width: 100%;
    padding: 45px 0;
}

.blog .section-header {
    margin-bottom: 75px;
}

.blog .blog-carousel {
    position: relative;
    width: calc(100% + 30px);
    left: -15px;
    right: -15px;
}

.blog .blog-item {
    position: relative;
    margin: 0 15px;
}

.blog.blog-page .blog-item {
    margin: -30px 0 0 0;
}

.blog .blog-img {
    position: relative;
    width: 100%;
    z-index: 1;
}

.blog .blog-img img {
    width: 100%;
}

.blog .blog-content {
    position: relative;
    width: calc(100% - 60px);
    top: -60px;
    left: 30px;
    padding: 25px 30px;
    background: #ffffff;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
    z-index: 2;
}

.blog .blog-content h2.blog-title {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1px;
}

.blog .blog-meta {
    position: relative;
    margin-bottom: 15px;
}

.blog .blog-meta * {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 300;
    color: #797979;
}

.blog .blog-meta i {
    color: #003861;
    margin: 0 2px 0 10px;
}

.blog .blog-meta i:first-child {
    margin-left: 0;
}

.blog .blog-text {
    position: relative;
}

.blog .blog-text p {
    margin-bottom: 10px;
}

.blog .blog-item a.btn {
    position: relative;
    padding: 0 0 0 35px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #003861;
    transition: .3s;
}

.blog .blog-item a.btn:hover {
    color: #3c8dbc;
}

.blog .blog-item a.btn::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    top: 10px;
    left: 0;
    background: #003861;
}

.blog .owl-nav {
    position: relative;
    width: 100%;
    margin-top: -30px;
    display: flex;
    justify-content: center;
}

.blog .owl-nav .owl-prev,
.blog .owl-nav .owl-next {
    position: relative;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #003861;
    font-size: 25px;
    transition: .3s;
}

.blog .owl-nav .owl-prev {
    padding-right: 80px;
}

.blog .owl-nav .owl-next {
    padding-left: 80px;
}

.blog .owl-nav .owl-prev:hover,
.blog .owl-nav .owl-next:hover {
    color: #3c8dbc;
}

.blog .owl-nav .owl-prev::after,
.blog .owl-nav .owl-next::after {
    position: absolute;
    content: "";
    width: 80px;
    height: 3px;
    top: 11px;
    background: #003861;
    transition: .3s;
}

.blog .owl-nav .owl-prev::after {
    left: 9px;
}

.blog .owl-nav .owl-next::after {
    right: 9px;
}

.blog .owl-nav .owl-prev:hover::after {
    background: #3c8dbc;
}

.blog .owl-nav .owl-next:hover::after {
    background: #3c8dbc;
}

.blog .pagination {
    margin-bottom: 0;
}

.blog .pagination .page-link {
    margin-top: -30px;
    color: #3c8dbc;
    border-radius: 0;
    border-color: #3c8dbc;
}

.blog .pagination .page-link:hover,
.blog .pagination .page-item.active .page-link {
    color: #003861;
    background: #3c8dbc;
}

.blog .pagination .disabled .page-link {
    color: #999999;
}


/*******************************/
/********* Contact CSS *********/
/*******************************/
.contact {
    position: relative;
    width: 100%;
    /* padding: 45px 0 15px 0; */
}

.contact .contact-info {
    position: relative;
    display: flex;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, .1);
    margin-bottom: 30px;
    transition: .3s;
}

.contact .contact-info:hover {
    border-color: transparent;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
}

.contact .contact-icon {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, .1);
}

.contact .contact-icon i {
    font-size: 18px;
    color: #003861;
}

.contact .contact-text {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.contact .contact-text h3 {
    font-size: 16px;
    font-weight: 400;
    color: #3c8dbc;
    letter-spacing: 1px;
}

.contact .contact-text p {
    margin: 0;
    font-size: 16px;
}

.contact .contact-form {
    position: relative;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, .1);
    margin-bottom: 30px;
    transition: .3s;
}

.contact .contact-form:hover {
    border-color: transparent;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
}

.contact .contact-form input {
    padding: 15px;
    background: none;
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, .1);
}

.contact .contact-form textarea {
    height: 100px;
    padding: 8px 15px;
    background: none;
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, .1);
}

.contact .contact-form .btn {
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #3c8dbc;
    background: none;
    border: 2px solid #3c8dbc;
    border-radius: 0;
    transition: .3s;
}

.contact .contact-form .btn:hover {
    color: #003861;
    background: #3c8dbc;
}

.contact .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


/*******************************/
/******* Single Page CSS *******/
/*******************************/
.single {
    position: relative;
    width: 100%;
    /* padding: 45px 0 15px 0; */
}

.single img {
    width: 100%;
    /* margin: 0 0 25px 0; */
}

.single .table,
.single .list-group {
    margin-bottom: 30px;
}

.single .ul-group {
    padding: 0;
    list-style: none;
}

.single .ul-group li {
    margin-left: 2px;
}

.single .ul-group li::before {
    position: relative;
    content: "\f0da";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.single .ol-group {
    padding-left: 18px;
}


/*******************************/
/********* Footer CSS **********/
/*******************************/
.footer {
    position: relative;
    margin-top: 45px;
    padding-top: 90px;
    background: #3c8dbc;
    
}

.footer .footer-contact,
.footer .footer-link,
.footer .footer-newsletter {
    position: relative;
    margin-bottom: 45px;
    color: #ffffff;
}

.footer .footer-contact h2,
.footer .footer-link h2,
.footer .footer-newsletter h2 {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 10px;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #ffffff;
}

.footer .footer-contact h2::after,
.footer .footer-link h2::after,
.footer .footer-newsletter h2::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #003861;
}

.footer .footer-link a {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
    transition: .3s;
}

.footer .footer-link a::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .footer-link a:hover {
    color: #003861;
    letter-spacing: 1px;
}

.footer .footer-contact p i {
    width: 25px;
}

.footer .footer-social {
    position: relative;
    margin-top: 20px;
}

.footer .footer-social a {
    display: inline-block;
}

.footer .footer-social a i {
    margin-right: 15px;
    font-size: 18px;
    color: #3c8dbc;
}

.footer .footer-social a:last-child i {
    margin: 0;
}

.footer .footer-social a:hover i {
    color: #999999;
}

.footer .footer-newsletter .form {
    position: relative;
    width: 100%;
}

.footer .footer-newsletter input {
    height: 60px;
    border: 2px solid #1d2434;
    border-radius: 0;
}

.footer .footer-newsletter .btn {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 44px;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 600;
    color: #3c8dbc;
    background: none;
    border-radius: 0;
    border: 2px solid #3c8dbc;
    transition: .3s;
}

.footer .footer-newsletter .btn:hover {
    color: #003861;
    background: #3c8dbc;
}

.footer .copyright {
    padding: 0 30px;
}

.footer .copyright .row {
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright p {
    margin: 0;
    color: #999999;
}

.footer .copyright .col-md-6:last-child p {
    text-align: right;
}

.footer .copyright p a {
    color: #ffffff;
}

.footer .copyright p a:hover {
    color: #003861;
}

@media (max-width: 767.98px) {
    .footer .copyright p,
    .footer .copyright .col-md-6:last-child p {
        margin: 5px 0;
        text-align: center;
    }
}


/* ---------------------------------------------------- */


/*======================
    404 page
=======================*/


.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
.four_zero_four_bg h3{
    font-size:80px;
}
            
.link_404{			 
    color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
}
.contant_box_404{ 
    margin-top:-50px;
}

/* ---- */

.lb-payment {
    margin-right: 10px;
    color: #000;
    width: 100%;
    font-weight: 600;
}

.box-about-slogan{
    padding: 40px 20px;
    text-align: center;
    background: rgba(242, 166, 52, 0.2);
    border-radius: 4px;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 28px;
    background-image: url(/img/about-page.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 250px auto;
}

.display-flex {
    display: flex;
}

.title-component {
    padding-bottom: 30px;
}

.title-news-detail {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.img-home{
    object-fit: cover;
    height: 380px;
}

.text {
    display: flex;
    align-items: flex-end;
}

.single-item-home{
    position: absolute; 
    height:100%;
    display: flex; 
    align-items: center;
}

.icon-home{
    color: #3c8dbc;
    font-size: 60px;
}

.item-subnav{
    padding: 0 30px !important;
}

.social-login {
    display: flex;
    justify-content: flex-end;
    /* height: 35px;
    font-size: 0; */
}

.news-content{
    -webkit-line-clamp: 3; 
}

.breadcrumb {
    background: none; 
    list-style: none; 
    padding: 0; 
    border-radius: 4px; 
    margin-top: -30px;
    margin-bottom: 20px
}

.item-breadcrumb {
    text-align: left; 
    display: inline-block;
    padding-right: 10px;
}

.home-title{
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 3rem;
    line-height: inherit;
    white-space: nowrap;
    cursor: pointer;
}

.btn-login{
    display: flex;
    height: 40px;
    width: 130px;
    margin: 0 15px;
    border-radius: 8px;
    border: #3c8dbc 2px solid;
    color: #3c8dbc;
    background-color: #fff;
    transition: .3s;
    align-items: center;
    justify-content: center;
}

.btn-login:hover{
    color:#fff;
    background-color: #3c8dbc;
}

.btn-submit{
    width: 120px;
    height: 38px;
    margin-top: 22px;
    background-color: #3c8dbc;
    color: #fff;
    border-color: #fff;
    border-radius: 0.4rem;
    /* margin-left: -40px; */
    transition: .5s;
}

.btn-submit:hover{
    background-color: #439ed3;
    border-radius: 0.4rem;
    transition: .5s;
}

.input-infor{
    display: flex;
}

.enter-infor{
    /* height: 40px; */
    /* padding-right: 20px; */
    width: 506px;
}

/* Captcha */

.imagess {
    width: 148px;
    padding: 0 12px;
    font-weight: 400;
    padding-bottom: 0px;
    height: 38px;
    user-select: none;
    font-style: italic;
    font-size: x-large;
    margin: 0 20px;
    border-radius: 0.25rem;
    background-color: #ccc;
    color: #000;
}
#user-input {
    box-shadow: 5px 5px 5px 5px gray;
    width: auto;
    margin-right: 10px;
    padding: 10px;
    padding-bottom: 0px;
    height: 40px;
    border: red 0px solid;
}

.code{
    display: flex;
}
.inline {
    cursor: pointer;
    display: inline-block;
    padding-top: 6px;
    margin-left: -44px;
    color: #000;
}

.btn-send-contact{
    width: 90px;
    height: 40px;
    background-color: #fff;
    color: #3c8dbc;
    border:#3c8dbc 2px solid;
    transition: .3s;
}

.btn-send-contact:hover{
    background-color: #3c8dbc;
    color: #fff;
    transition: .3s;
}

.testimonial-item-news {
    position: relative;
    width: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: flex-start;
    justify-content: center
}

.img-testimonial-item-news  {
    position: relative;
    width: 100px !important;
    height: 80px;
    border-radius: 0px;
    margin-bottom: 15px;
    margin-right: 10px;
}

/* Fill form */
.fill-form {
    padding: 80px 60px 80px 30px;
}
    
.fill-form .info-post {
    margin-bottom: 20px;
}

.fill-form .icon {
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    border-radius: 23px;
    padding: 25px 15px;
    transition: .5s;
}

.icon-img{
    width: 70px; 
    height: 70px; 
    margin-right: 10px;
}

.fill-form .icon:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.347);
    transition: .5s;
}

.fill-form .icon img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    background-color: #ff8d00;
}

.fill-form .icon h5 {
    margin-top: 15px;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    color: #2a2a2a;
    transition: all .3s;
}

.fill-form .icon:hover h5 {
    color: #478abd;
}

.detail-icon {
    display: flex !important;
    align-items: center;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    border-radius: 23px;
    padding: 25px 15px;
    transition: .5s;
}

.detail-icon:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.347);
    transition: .5s;
}

.title-law {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

/* Login */

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}
  
.login-h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.login-label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ .login-label,
.login-box .user-box input:valid ~ .login-label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.login-submit {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
}
.login-submit:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
}

.login-span {
    position: absolute;
    display: block;
}

.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}


@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,100% {
        left: 100%;
    }
}

.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s;
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,100% {
        top: 100%;
    }
}

.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s;
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,100% {
        right: 100%;
    }
}

.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s;
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,100% {
        bottom: 100%;
    }
}


.come-back{
    display: flex;
    background-color: rgb(57 198 238);
    border-radius: 20px;
    width: 100px;
    height: 40px;
    align-items: center;
    justify-content: center;
    color: #000;
}

.come-back:hover {
    color: #000;
    background-color: rgb(0, 147, 181);
}

.vehicle-type {
    display: flex;
    width: 190px;
    height: 56px;
    align-items: center;
    margin-top:-20px;
}

.travel-box{
    padding-top: 30px;
}

.single-travel-boxes {
    background: #fff;
  }
  .fade:not(.show) {
    opacity: 1;
}
  /* .desc-tabs */
  .desc-tabs {
    border: transparent;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  .desc-tabs .nav-tabs {
    display: flex;
    justify-content: space-around;
    border-right: 1px solid #fff;
  }
  
  .desc-tabs .nav-tabs > li.active > a {
    color: #000;
    background: rgb(57 198 238);
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.184);
  }
  .desc-tabs .nav-tabs > li.active > a:focus,
  .desc-tabs .nav-tabs > li.active > a:hover {
    color: #000;
    text-decoration: none;
    background-color: rgb(57 198 238);
  }
  .desc-tabs .nav-tabs > li > a {
    color: #000;
    background: #ccc;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 17px 40px 17px 46px;
    margin-right: 10px;
    border: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
  }
  .single-travel-boxes .nav > li > a:focus,
  .single-travel-boxes .nav > li > a:hover {
    color: #000;
    background-color: #ccc;
    border: 0;
    text-decoration: none;
  }
  .desc-tabs .nav-tabs > li > a > i {
    padding-right: 6px;
  }
  /* .desc-tabs */
  
  /*===ab-select-box===*/
  .tab-para {
    padding: 20px 42px 24px;
  }
  
  /*.trip-circle*/
  .trip-circle {
    display: flex;
    margin-bottom: 17px;
  }
  .single-trip-circle {
    display: flex;
  }
  .single-trip-circle:nth-child(2) {
    display: flex;
    margin-left: 42px;
  }
  .single-trip-circle input[type="radio"] {
    display: none;
  }
  .single-trip-circle input[type="radio"] + label {
    color: #565a5c;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    margin-bottom: 17px;
    margin-left: 0px;
  }
  .single-trip-circle input[type="radio"] + label span.round-boarder {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  .single-trip-circle input[type="radio"] + label span.round-boarder1 {
    display: inline-block;
    width: 9px;
    height: 9px;
    margin: -13px 0px 0 1px;
    vertical-align: middle;
    cursor: pointer;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  .single-trip-circle input[type="radio"] + label span.round-boarder {
    border: 2px solid #aaa;
  }
  
  .single-trip-circle input[type="radio"] + label span.round-boarder1 {
    border: 1px solid #fff;
    background-color: #fff;
  }
  
  .single-trip-circle input[type="radio"]:checked + label span.round-boarder1 {
    background-color: #00d8ff;
  }
  
  .single-trip-circle input[type="radio"] + label span.round-boarder1,
  .single-trip-circle input[type="radio"]:checked + label span.round-boarder1 {
    -webkit-transition: background-color 0.4s linear;
    -o-transition: background-color 0.4s linear;
    -moz-transition: background-color 0.4s linear;
    transition: background-color 0.4s linear;
  }
  /*.trip-circle*/
  
  /* filter */
  .travel-budget {
    margin-top: 38px;
  }
  .travel-budget h3 {
    color: #565a5c;
    font-size: 20px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
  }
  .price_filter {
    margin-top: 9px;
  }
  .price_filter
    .ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
    background: #d7d7d7;
    border: medium none;
    border-radius: 0;
    height: 6px;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
  }
  .price_filter .ui-slider-handle.ui-state-default.ui-corner-all {
    background: #00d8ff none repeat scroll 0 0;
    border: 0px solid #00d8ff;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    outline: 0;
    cursor: pointer;
    z-index: 1;
  }
  .price_filter .ui-slider-range {
    background: #00d8ff none repeat scroll 0 0;
  }
  .price_slider_amount > input[type="text"] {
    font-weight: 500;
    font-size: 14px;
    color: #aaa;
    letter-spacing: 5.5px;
    height: 40px;
    text-align: center;
    width: 280px;
    border: none !important;
    font-family: "Poppins", sans-serif;
  }
  .price_slider_amount label {
    font-weight: 500;
    font-size: 14px;
    color: #aaa;
    font-family: "Poppins", sans-serif;
  }
  .price_slider_amount > input[type="text"]:focus {
    outline: 0;
  }
  .price_slider_amount > input[type="submit"] {
    outline: 0;
  }
  .price_slider_amount {
    letter-spacing: 2px;
  }
  .price_slider_amount > input[type="submit"] {
    font-weight: 500;
    font-size: 14px;
    color: #aaa;
    font-family: "Poppins", sans-serif;
  }
  
  /* .travel-btn */
  .about-view.travel-btn {
    width: 180px;
    margin-right: 15px;
  }
  
.whitespace-nowrap {
    white-space: nowrap
}

.divider-gray {
    margin: 20px 0px;
    height: 1px;
    background: #E9F0F8;
}